@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.inactive {
  border-color: transparent;
  color: rgb(107 114 128);
}
.active {
  border-color: rgb(99 102 241);
  color: rgb(17 24 39);
}
.link {
  display: inline-flex;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-bottom-width: 2px;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;